.text-center
{
  margin-top: 1.5rem;
}
#imgcontact
{
  border-radius: 22px !important;
    margin-top: 6.4vh;
}
form
{
 border-radius: 20px;
}


/* Petit Desktop */
@media (min-width: 992px) {
  .justify-content-center
{

  justify-content: left !important ;

}  
#imgcontact
{
    width: 50%;
    border-radius: 22px !important;
    margin-top: 6.4vh;
    
}
.text-center{
  margin-top: 0;
}
  
 }
 
 /* Desktop Standard */
 @media (min-width: 1200px) {
    
 }
 
 /* Grand Écran */
 @media (min-width: 1400px) {
    
 }
 
 /* Extra Large Écrans (optionnel) */
 @media (min-width: 1600px) {
     
 }
 