#Reseaux a
{

text-decoration: none;
margin-right: 2%;
}

#Reseaux
{
text-align: center;
}
.social-text
{
  display: none;
  
}
.icon-sociaux
{
  font-size: 2rem;
}
#copyright ul
{
    list-style-type: none;
    padding: 0;
}
#copyright{
    text-align:center;
}
/* Petit Desktop */
@media (min-width: 992px) {
   
  #Reseaux 
  {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
 span
 {
  display: flex;
  align-items: center;
 }
  .social-text
  {
    display: inline-block;
    margin-left: 10px;
    
  }
  .icon-sociaux
  {
    font-size: 1.75rem;
  }
  
 }
 
 /* Desktop Standard */
 @media (min-width: 1200px) {
    
 }
 
 /* Grand Écran */
 @media (min-width: 1400px) {
    
 }
 
 /* Extra Large Écrans (optionnel) */
 @media (min-width: 1600px) {
     
 }
 