.switch-class {
    position: relative; /* Positionne le Switch par rapport à son parent */
    transition: bottom 0.3s ease; /* Animation fluide */
  }
  
  .switch-open {
    position: absolute; /* Fige le Switch */
    bottom: 13vh; /* Ajuste selon la hauteur de ta navbar */
  }
  
  .switch-closed {
    position: absolute;
    bottom: 0; /* Retourne à la position initiale */
  }
  