
/*Mobile */
.form-check
{
    position: absolute;
    left: 16vw;
    bottom: 1vh;
}
#flexSwitchCheckDefault
{
  width: 60px; 
  height: 30px; 
   right: 17vw;
   top: 0.5vh;
}


@media (min-width: 768px) and (max-width: 991px) {
 #flexSwitchCheckDefault
 {
  right: 17vw;
 }
 
}
/* Petit Desktop */
@media (min-width: 992px) {
   .form-check{
    position: absolute;
    left: 17vw;
   } 
   #flexSwitchCheckDefault
   {
      left: 35vw;
      top: 0.5vh;
   }
 }
 
 /* Desktop Standard */
 @media (min-width: 1200px) {
  #flexSwitchCheckDefault
  {
    left: 38vw;
  }
    
 }
 
 /* Grand Écran */
 @media (min-width: 1400px) {
    
 }
 
 /* Extra Large Écrans (optionnel) */
 @media (min-width: 1600px) {
     
 }
 @media (min-width: 1800px) {
  #flexSwitchCheckDefault
  {
     left: 31vw;
     top: 0.5vh;
  }
 }
 @media (min-width: 2000px) {
  #flexSwitchCheckDefault
  {
    right: 37vw;
    top: 0.5vh;
  }
 }