
/*Mobile */
.form-check
{
    position: absolute;
    left: 16vw;
    bottom: 1vh;
}
.form-check-input
{
  width: '60px'; 
  height: '30px'; 
}



/* Petit Desktop */
@media (min-width: 992px) {
   .form-check{
    position: absolute;
    left: 17vw;
   } 

 }
 
 /* Desktop Standard */
 @media (min-width: 1200px) {
    
 }
 
 /* Grand Écran */
 @media (min-width: 1400px) {
    
 }
 
 /* Extra Large Écrans (optionnel) */
 @media (min-width: 1600px) {
     
 }
 @media (min-width: 1800px) {
    
 }