/* Petit Desktop */
@media (min-width: 992px) {
  #root
  {
    /* background: linear-gradient(135deg, #f0f0f0, #d1d1d1, #ffffff); */

  }
  body[data-bs-theme="dark"] {
    background-color: #121212;
    color: #e0e0e0; /* Couleur de texte par défaut */
  }
  body[data-bs-theme="dark"] label {
    
    color: #b5b6b8 /* Couleur de texte par défaut */
  }
  body[data-bs-theme="dark"] form {
    
    background-color: #121212 !important; /* Couleur de texte par défaut */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)!important;
  }
  
  body[data-bs-theme="dark"] h1,
  body[data-bs-theme="dark"] p {
    color: #ffffff; /* Couleur spécifique pour des titres */
  }
 }
 
 /* Desktop Standard */
 @media (min-width: 1200px) {
    
 }
 
 /* Grand Écran */
 @media (min-width: 1400px) {
    
 }
 
 /* Extra Large Écrans (optionnel) */
 @media (min-width: 1600px) {
     
 }
 .form-check-input[type="checkbox"] {
  position: relative;
 
}

.form-check-input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  pointer-events: none;
}

.form-check-input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.form-check-input[type="checkbox"]:checked::after {

  content: "☀️";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  
  
}

.form-check-input[type="checkbox"]:not(:checked)::after {
  content: "🌙";
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  
  
}
input#sold.form-check-input[type="checkbox"]:not(:checked)::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  
  
}
input#sold.form-check-input[type="checkbox"]:checked::after {

  content: " ";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  
  
}